{% extends 'MainPage.html' %}
{% load static %}
{% block main_content %}
<div id="header">
        <a class="logo" href="MainPage.html">
            <img src={% static 'img/高山.svg' %} />
            <span id="name"> 庐山综合服务系统 </span>
        </a>
        <span id="time"></span>
        {% if user.username != '' %}
            <span class="userinfo">欢迎您&nbsp;{{ user.username }}&nbsp;&nbsp;<a href="/UserManage/logout/" style="cursor: pointer">[ 退出 ]</a></span>
        {% else %}
            <span class="userinfo">未登录，登录开启更多功能&nbsp;<a href="/" style="cursor: pointer">[ 登录 ]</a></span>
        {% endif %}
</div>
<div id="content">
    {% if user.username != '' %}
    <div class="leftsidebar_box">
                <dl class="homepage" onclick="refreshpage()">
                    系统首页
                </dl>
                <dl>
                    <dt class="first_dt">景点查询</dt>
                    <dd onclick='window.location.href="/QueryByBound"'>框选查询</dd>
                    <dd onclick='window.location.href="/QueryByName"'>景点名称查询</dd>
                </dl>
                <dl>
                    <dt class="first_dt">路线导航</dt>
                    <dd onclick="setCore('ClosestShop')">绘制终点并显示导航路线</dd>
                </dl>
                <dl>
                    <dt class="first_dt">景点分析</dt>
                    <dd onclick="setCore('ServiceArea')">景点服务范围</dd>
                    <dd onclick='window.location.href="/HeatMap"'>景点热力图</dd>
                </dl>
    </div>
    {% else %}
    <div class="leftsidebar_box">
                <dl class="homepage" onclick="refreshpage()">
                    系统首页
                </dl>
                <dl>
                    <dt class="first_dt">景点查询</dt>
                    <dd onclick="NoUserWarning()">框选查询</dd>
                    <dd onclick="NoUserWarning()">景点名称查询</dd>
                </dl>
                <dl>
                    <dt class="first_dt">路线导航</dt>
                    <dd onclick="NoUserWarning()">绘制终点并显示导航路线</dd>
                </dl>
                <dl>
                    <dt class="first_dt">景点分析</dt>
                    <dd onclick="NoUserWarning()">景点服务范围</dd>
                    <dd onclick="NoUserWarning()">景点热力图</dd>
                </dl>
    </div>
        <script>
            function NoUserWarning(){
                alert("登录后开放此功能!");
            }
        </script>
    {% endif %}
    <div class="iframe_wrapper">
                <div id="container_iframe" name="container_iframe" scrolling="no">
                    {% block content %}{% endblock %}
                </div>
    </div>
    <div id="popup" class="ol-popup">
        <div id="popup-content"></div>
    </div>
</div>
{% endblock %}