{% extends 'MainPage.html' %}
{% load static %}
{% block main_content %}
<div id="header">
        <a class="logo" href="MainPage.html">
            <img src={% static 'img/高山.svg' %} />
            <span id="name"> 庐山综合服务系统 </span>
        </a>
        <span id="time"></span>
        {% if user %}
        <span id="userinfo">欢迎您，{{ user.username }}！</span>
        {% endif %}
</div>
<div id="content">
    <div class="leftsidebar_box">
                <dl class="homepage" onclick="refreshpage()">
                    系统首页
                </dl>
                <dl>
                    <dt class="first_dt">景点查询</dt>
                    <dd onclick="setCore('QuerybyBound')">框选查询</dd>
                    <dd onclick="setCore('QuerybyName')">景点名称查询</dd>
                </dl>
                <dl>
                    <dt class="first_dt">路线导航</dt>
                    <dd onclick="setCore('ClosestShop')">绘制终点并显示导航路线</dd>
                </dl>
                <dl>
                    <dt class="first_dt">景点分析</dt>
                    <dd onclick="setCore('ServiceArea')">景点服务范围</dd>
                    <dd onclick="setCore('HeatMap')">景点热力图</dd>
                </dl>
            </div>
    <div class="iframe_wrapper">
                <div id="container_iframe" name="container_iframe" scrolling="no">
                    {% block content %}{% endblock %}
                </div>
            </div>
    <div id="popup" class="ol-popup">
        <div id="popup-content"></div>
    </div>
</div>
{% endblock %}