.mapCon {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 缩放滑块控件ZoomSlider的样式，放置到缩放按钮之间实现导航条功能*/
#mapCon .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}

#mapCon .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

#mapCon .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}

#mapCon .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#mapCon .ol-zoom-in .ol.has-tooltip:hover[role=tooltip],
#mapCon .ol-zoom-in .ol-has-tooltip:focus[role=tooltip] {
    top: 3px;
}

#mapCon .ol-zoom-out .ol-has-tooltip:hover[role=tooltip],
#mapCon .ol-zoon-out .ol-has-out-tooltip:focus[role=tooltip] {
    top: 232px;
}

#mapCon .ol-zoom-extent {
    top: 280px;
}

#coordinates{
    background: rgba(0, 129, 168, 0.53);
    position: absolute;
    top : 10px;
    right : 230px;
    width: 205px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    color: aliceblue;
    font-family: "微软雅黑";
}
#coordinates label{
    position: absolute;
    margin-top: 7.5px;
    margin-left: 6px;
    color: aliceblue;
    font-family: "微软雅黑";
}

#north img{
    position: absolute;
    top : 13px;
    right : 440px;
    width: 30px;
    height: 30px;
}

#LayerRadio{
    z-index: 3;
    position: absolute;
    bottom : 8px;
    right : 230px;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
}
