{% extends "Map/LushanMap.html" %}
{% load static %}

{%  block function_js %}
<script>
    $.ajax ("/GeoFunction/HeatMap/",
        {
            type: "GET",
            dataType: "json",
            success: function (result) {
                vectorfeatures = (new ol.format.GeoJSON()).readFeatures(result);
                var heatMap = new ol.layer.Heatmap({
                        source: new ol.source.Vector({
                        features: vectorfeatures,
                        wrapX: false
                          }),
                          blur: 40,
                          radius: 25
                    });
                map.addLayer(heatMap);
                map.on("moveend",function(e){
                    var zoom = map.getView().getZoom();  //获取当前地图的缩放级别
                    if(zoom <= 11) {
                        heatMap.setVisible(false);
                    }
                    else{
                        heatMap.setVisible(true);
                    }
                });
            },
            error: function () {
                alert ("服务器异常，有人要扣工资了！");
            }
    });
</script>
{% endblock %}